
@{
    ViewBag.Title = "Watch";
}


<div class="d-flex justify-content-center">
   
    <div class="card w-50 ">
        <div class="card-body">
            <h5 class="card-title">@Model.Movie.title</h5>
        </div>
        @if (Model.Movie.poster_path != null)
        {
            <img class="card-img" src="@Url.Content("https://image.tmdb.org/t/p/w500/" + Model.Movie.poster_path)" />
        }
        else
        {
            <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg>
        }
        <div class="card-body">
            <p class="card-text">@Model.Movie.overview</p>
        </div>
        <ul class="list-group list-group-flush">

            <li class="list-group-item">Links: </li>

        </ul>
    </div>
</div>




